{{!--
**** start-content-config ****
title:			Welcome to our sample website
path:			/index.html
**** end-content-config ****
--}}
<!DOCTYPE html>
<html>
<head>
	<title>Sample website</title>
</head>
<body>

<h1>Sample website</h1>

<p>Read the sources</p>

<nav>{{> menu which=menus.main shortTitle=false expand="always" }}</nav>

</body>
</html>
