// DOCUMENTATION
// - qa:styles		Does not trigger warnings
// - styles:app		Compiles successfully, will be included in the final CSS aggregate

@import 'import';

$c: rgb(100, 200, 210);
$d: rgb(91, 120, 231);
$e: rgb(150, 150, 253);

body
{
	font-family: monospace;
	background: $d;

	a
	{
		color: $c;
		font-size: 22px;
		transition: 42s;
	}
}

#test2
{
	background: url('../images/02-bunny.png');
}

#content
{
	background: $e;
}

#test
{
	background: url('../images/03-bunny.svg');
}